<style>
    body{
        background:rgba(30,30,30,.86);
    }
    h2{
        width:15%;
        height:50px;
        margin:auto;
        margin-top:50px;
        border-bottom:2px solid white;
        text-align:center;
        line-height:52px;
        color:white;
        font-weight:300;

    }
    main {
        display:flex;
        flex-direction:column;
        width:35%;
        margin:auto;
        height:500px;
        margin-top:30px;
        box-shadow:5px 5px 10px;
        border-radius:10px;
    }
    main a{
        text-decoration:none;
        color:white;
        text-align:center;
        height:50px;
        width:40%;
        margin:auto;
        line-height:49px;
        background:#893667;
        box-shadow:3px 3px 10px black;
        font-weight:500;
        font-size:16px;
    }
    main a:hover{
        color:#893667;
        background:rgb(252, 252, 223);
    }
</style>
<h2>Dashboard</h2>

<main>
    <a href="/results">See Exam Attendants</a>
    <a href="/users">See Registered Users</a>
    <a href="/questions">Manage Questions</a>
</main>
<img class="big-circle" src="/Images/big-eclipse.svg" alt="">
<img class="medium-circle" src="/Images/mid-eclipse.svg" alt="">
<img class="small-circle" src="/Images/small-eclipse.svg" alt="">