<style>
    body{
        background:url(/Images/register.jpg);
        background-repeat:no-repeat;
        background-position: center;
        background-attachment:fixed;
        background-size:100% 100%;
    }
    main {
        position:absolute;
        color:#893667;
        left:30%;
        top:10%;
        border-radius:15px;
        box-shadow:5px 5px 10px black;
        height:500px;
        padding-top:30px;
        width:600px;
        text-align:center;


    }
    .links{
        display:flex;
        flex-direction:column;
        width:250px;
        margin:auto;
    }
    .links a{
        text-align:center;
        background:rgb(252, 252, 223);
        color:#893667;
        height:55px;
        line-height:52px;
        width:240px;
        border-radius:5px;
        margin-top:40px;
        text-decoration:none;
        font-size:17px;
        font-weight:450;
        border:2px solid #893667;
    }
    .links a:hover{
        background:#893667;
        color:white;
        box-shadow:3px 3px 5px black;
        transition:0.5s;
    }
</style>






<main>
    <h2>Which stream are you applying for?</h2>
    <div class="links">
        <a href="/exam/computerscience">Computer Science</a>
        <a href="/exam/biology">Biology Science</a>
        <a href="/exam/management">Management Day</a>
        <a href="/exam/management">Management Morning</a>
    </div>

</main>
